/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: rgb(192, 154, 105);
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header styles */
h1 {
    background-color: #e29d43;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Question styles */
h2 {
    font-size: 24px;
    margin-top: 20px;
}

/* Radio button styles */
label {
    display: block;
    margin-bottom: 10px;
}

/* Button styles */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #91744e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #357ae8;
}

/* Result styles */
h2 + p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Return button styles */
.return-button {
    display: block;
    margin: 20px auto;
    text-decoration: none;
    background-color: #91744e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 200px;
}

.return-button:hover {
    background-color: #795816;
}
